main > section {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 4rem;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #e2e2e2;
	background-color: #f2f2f2;
}

/* Small */
@media (min-width: 576px) {
	main > section {
		max-width: 540px;
	}
}

/* Medium */
@media (min-width: 768px) {
	main > section {
		max-width: 720px;
	}
}

/* Large */
@media (min-width: 992px) {
	main > section {
		max-width: 960px;
	}
}

/* Extra large */
@media (min-width: 1200px) {
	main > section {
		max-width: 1140px;
	}
}
